fastapi==0.115.0
uvicorn[standard]==0.30.3
sqlalchemy==2.0.32
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytest==8.3.2
flake8
black
isort
pylint
httpx
pytest-asyncio

# DB Migration Dependencies
alembic==1.13.2
asyncpg==0.29.0

python-jose[cryptography]==3.3.0
passlib[argon2]==1.7.4        # usa argon2-cffi por debajo

fastapi-limiter==0.1.6
redis==5.0.8