name: Despliegue en Servidor Privado

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Iniciar sesión en el Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Construir la imagen de Docker
        run: docker build . --tag ghcr.io/${{ github.repository }}:latest

      - name: Subir la imagen al Registry
        run: docker push ghcr.io/${{ github.repository }}:latest
